# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=microplastic_db

# API Configuration
API_VERSION=v1
API_TITLE=Mikroplastik Veri Yönetim Sistemi API
API_DESCRIPTION=Küçük Menderes Havzası Mikroplastik Takip Sistemi

# Environment
ENVIRONMENT=development
